<% function formatDate(dateString) {
  const options = { year: 'numeric', month: 'short', day: 'numeric' };
  const date = new Date(dateString);
  return date.toLocaleDateString('en-US', options);
} %>


<div class="layout">
    <div class="header">
       <div class="card">
        <div class="cardHead">
            <div class="profileHeader" style="background-image: url('/public/<%= session.state.user.photo.filename %>'); background-size: cover; background-repeat: no-repeat; background-position: center center; height: 80px;width: 80px; border-radius: 360px;">
            </div>
            </div>
            <div class="main">
                <div class="cardBody">
                  <% console.log(session.state.user,'99253472'); %>
                    <div class="contents">Name: <%= session.state.user.companyName %> </div>
                    <div class="contents">Email: <%= session.state.user.email %></div>
                    <div class="contents">Mobile: <%= session.state.user.phone %></div>
                    <div class="contents">State: <%= session.state.user.state %></div>
                    <div class="contents">district: <%= session.state.user.district %></div>
                    <div class="contents">registrationNumber: <%= session.state.user.registrationNumber %></div>

                </div>
                <div class="footer">
        
                    <button class="Edit" id="editProfileButton"><svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.1464 1.14645C12.3417 0.951184 12.6583 0.951184 12.8535 1.14645L14.8535 3.14645C15.0488 3.34171 15.0488 3.65829 14.8535 3.85355L10.9109 7.79618C10.8349 7.87218 10.7471 7.93543 10.651 7.9835L6.72359 9.94721C6.53109 10.0435 6.29861 10.0057 6.14643 9.85355C5.99425 9.70137 5.95652 9.46889 6.05277 9.27639L8.01648 5.34897C8.06455 5.25283 8.1278 5.16507 8.2038 5.08907L12.1464 1.14645ZM12.5 2.20711L8.91091 5.79618L7.87266 7.87267L8.12731 8.12732L10.2038 7.08907L13.7929 3.5L12.5 2.20711ZM9.99998 2L8.99998 3H4.9C4.47171 3 4.18056 3.00039 3.95552 3.01877C3.73631 3.03668 3.62421 3.06915 3.54601 3.10899C3.35785 3.20487 3.20487 3.35785 3.10899 3.54601C3.06915 3.62421 3.03669 3.73631 3.01878 3.95552C3.00039 4.18056 3 4.47171 3 4.9V11.1C3 11.5283 3.00039 11.8194 3.01878 12.0445C3.03669 12.2637 3.06915 12.3758 3.10899 12.454C3.20487 12.6422 3.35785 12.7951 3.54601 12.891C3.62421 12.9309 3.73631 12.9633 3.95552 12.9812C4.18056 12.9996 4.47171 13 4.9 13H11.1C11.5283 13 11.8194 12.9996 12.0445 12.9812C12.2637 12.9633 12.3758 12.9309 12.454 12.891C12.6422 12.7951 12.7951 12.6422 12.891 12.454C12.9309 12.3758 12.9633 12.2637 12.9812 12.0445C12.9996 11.8194 13 11.5283 13 11.1V6.99998L14 5.99998V11.1V11.1207C14 11.5231 14 11.8553 13.9779 12.1259C13.9549 12.407 13.9057 12.6653 13.782 12.908C13.5903 13.2843 13.2843 13.5903 12.908 13.782C12.6653 13.9057 12.407 13.9549 12.1259 13.9779C11.8553 14 11.5231 14 11.1207 14H11.1H4.9H4.87934C4.47686 14 4.14468 14 3.87409 13.9779C3.59304 13.9549 3.33469 13.9057 3.09202 13.782C2.7157 13.5903 2.40973 13.2843 2.21799 12.908C2.09434 12.6653 2.04506 12.407 2.0221 12.1259C1.99999 11.8553 1.99999 11.5231 2 11.1207V11.1206V11.1V4.9V4.87935V4.87932V4.87931C1.99999 4.47685 1.99999 4.14468 2.0221 3.87409C2.04506 3.59304 2.09434 3.33469 2.21799 3.09202C2.40973 2.71569 2.7157 2.40973 3.09202 2.21799C3.33469 2.09434 3.59304 2.04506 3.87409 2.0221C4.14468 1.99999 4.47685 1.99999 4.87932 2H4.87935H4.9H9.99998Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"/></svg> Edit</button>
                </div>
            </div>
        
       </div>
    </div>
    <div class="body ">
<!-- spices -->
<div class="card ">
    <h3>All Spices</h3>
    <div class="card " style="height: 700px;width: 500px;">
    <% if (session.state.spices.length == 0) { %>
      <h3>Spice Not Found</h3>
      <% } %>
 
      <section class="carousel" aria-label="Spices Carousel" style="height: 100%; width: 500px;">
        <% const numberOfSpiceSlides = 8; %>
        <ol class="carousel__viewport" id="spiceCarouselViewport">
    <% for (const spice of session.state.spices) { %>
      <% for (let i = 1; i <= numberOfSpiceSlides; i++) { %>
        <li class="carousel__slide" id="spiceCarousel__slide<%= i %>" tabindex="0">
          <div class="carousel__snapper"></div>
          <a href="#spiceCarousel__slide<%= i === 1 ? numberOfSpiceSlides : i - 1 %>" class="carousel__prev">Go to previous spice</a>
          <a href="#spiceCarousel__slide<%= i === numberOfSpiceSlides ? 1 : i + 1 %>" class="carousel__next">Go to next spice</a>

    <div class="card <%= spice._id %>" style="z-index: 1;">
      <div class="cardHead">
        <div class="profileHeader" style="background-image: url('/public/backer.jpeg'); background-size: cover; background-repeat: no-repeat; background-position: center center; height: 80px;width: 80px; border-radius: 360px;">
        </div>
      </div>

      <div class="main">
        <div class="cardBody">
          <div class="contents">Name: <%= spice.name %></div>
          <div class="contents">Managed By: <%= spice.companyName %></div>
          <div class="contents">Weight: <%= spice.weight %> grams</div>
          <div class="contents">Seller ID: <%= spice.sellerId %></div>
          <div class="contents">Auction Date: <%= formatDate(spice.auctionDate) %></div>
          <div class="contents">End Time: <%= formatDate(spice.endTime) %></div>
          <div class="contents">Minimum Price: <%= spice.minimumPrice %></div>
          <div class="contents">Seller Id: <%= spice.sellerId %></div>
          <div class="contents">Holder Name: <%= spice.holderFirstName %> <%= spice.holderLastName %></div>
          <div class="contents">Is Approved: <%= !spice.isRejected ? '✅' : '❌' %></div>
        </div>
        <div class="footer">
                              <button class="Edit" id='<%= `button_${spice._id}_${i}` %>'>✍️ <%= !spice.isRejected ? 'reject' : 'Approve' %> </button>

        </div>
      </div>
    </div>
    <script>
      document.getElementById('<%= `button_${spice._id}_${i}` %>').addEventListener('click', () => {
                    const request = new XMLHttpRequest();
          
          request.open('POST', '/company/spice/approve', true);
          request.setRequestHeader('Content-Type', 'application/json');
          request.send(JSON.stringify({ id: '<%= spice._id %>' }));

          request.onreadystatechange = async function() {
              if (request.readyState === 4 && request.status === 200) {
                    location.reload();
        
              }
          };
      });
  </script>
</li>
<% } %>
<% } %>

</ol>

<aside class="carousel__navigation">
<ol class="carousel__navigation-list" id="spiceCarouselNavigationList"></ol>
</aside>

<script>
document.addEventListener('DOMContentLoaded', function () {
const spiceCarouselViewport = document.getElementById('spiceCarouselViewport');
const spiceCarouselNavigationList = document.getElementById('spiceCarouselNavigationList');

for (let i = 1; i <= numberOfSpiceSlides; i++) {
const spiceSlideElement = document.createElement('li');
spiceSlideElement.id = `spiceCarousel__slide${i}`;
spiceSlideElement.tabIndex = 0;
spiceSlideElement.className = 'carousel__slide';
spiceSlideElement.innerHTML = `
  <div class="carousel__snapper"></div>
  <a href="#spiceCarousel__slide${i === 1 ? numberOfSpiceSlides : i - 1}" class="carousel__prev">Go to previous spice</a>
  <a href="#spiceCarousel__slide${i === numberOfSpiceSlides ? 1 : i + 1}" class="carousel__next">Go to next spice</a>
`;
spiceCarouselViewport.appendChild(spiceSlideElement);

const spiceNavigationItem = document.createElement('li');
spiceNavigationItem.className = 'carousel__navigation-item';
spiceNavigationItem.innerHTML = `
  <a href="#spiceCarousel__slide${i}" class="carousel__navigation-button">Go to spice ${i}</a>
`;
spiceCarouselNavigationList.appendChild(spiceNavigationItem);
}
});
</script>
</section>

    </div>
  
</div>
 
    
<!-- auction -->
   
        <div class="card">
            <h3>All Auctions</h3>
            <div class="card">
              <% if (session.state.companies.length == 0) { %>
                <h3>Auctions Not Found</h3>
                <% } %>
            <% for (const company of session.state.companies) { %>
              <div class="card">
            <div class="cardHead">
              <div class="profileHeader" style="background-image: url('/public/backer.jpeg'); background-size: cover; background-repeat: no-repeat; background-position: center center; height: 80px;width: 80px; border-radius: 360px;">
              </div>
            </div>
        
            <div class="main">
              <div class="cardBody">
                <div class="contents">Name: <%= company.companyName %></div>
                <div class="contents">auctionDate: <%= formatDate(company.startDate) %></div>
                <div class="contents">endTime: <%= formatDate(company.endDate) %></div>
              </div>
              <div class="footer">
          
              </div>
            </div>
            </div>
            <% } %>
            </div>
            
            
          </div>

        

        <%- include('../components/companyProfileEditForm.ejs',{session:session}) %>
    <%- include('../components/auctionForm.ejs',{session:session}) %>

        </div>

           <!--  -->
    </div>
</div>


<script>
    document.getElementById('editProfileButton').addEventListener('click', () => {
        const userEditFormContainer = document.querySelector('.profileEdit');
        if (userEditFormContainer) {
            userEditFormContainer.classList.toggle('visible');
        }
    });
</script>
